:root {
  font-family: "Inter";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration-line: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
